[Unit]
Description=Keyboard Debounce Daemon

[Service]
Type=simple
ExecStart=/usr/bin/debounced
ExecReload=/usr/bin/debouncectl stop
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
